
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body{
    /* background-color: blueviolet; */

   
}





  .main-all-item{
    max-width: 90%;
    border: 1px solid plum;
    /*  */
    
    margin: 0 auto;

  }

  /*  */
  /*  */
  .main-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-rows: 100px auto 100px; */
    grid-template-rows:  auto;
  }
  
  .header {
    background-color: blue;

    background: #161616;
border-radius: 30px;
/* height: 646px; */
    grid-column: 1 / -1;
  }
  .header-item{
    display: flex;
    align-items: center;
  }
  .header-item-detail{
    padding: 40px
  }

  .item-size{
    width: 50%;
  }

  .header-title{
    font-style: normal;
font-weight: 700;
font-size: 70px;
color: #ffff;
  }

  .header-item-description{
    font-style: normal;
font-weight: 400;
font-size: 16px;
color: #ffff;
padding-top: 13px;
padding-bottom: 40px;
  }

.header-item-link{
    background: #DD0000;
border-radius: 5px;


font-family: 'HelveticaNeue';
font-style: normal;
font-weight: 400;
font-size: 20px;
color: #ffff;
text-decoration:none ;

margin: 10px;
padding: 15px;
}
.right-angle{
  padding-left: 10px;

}

  .header-item-img{
    height: auto;
  }

  .header-image{
    padding: 84px;
    margin-bottom: -93px;
    object-fit: fill;
  }

  .header-item-img img{

  }
  

















/*  */

  /*  */
  .sidebar {
    /* background-color: green; */
    grid-column: 1 / 4;
    margin-top: 15px;
   position: relative;
  }
  .sidebar-items{
    background: #161616;
border-radius: 10px;
width: 270px;
height: 320px;
text-align:center ;
/* position: fixed; */
  }
  .pages-list{
    padding: 10px;
    padding-top: 10px;
  }

  .sidebar-link{
    width: 190px;
height: 64px;
padding: 20px;
margin: 25px;



background: #FFFFFF;
border-radius: 10px;
  }
  .sidebar-bts{
    text-decoration: none;
  }











/*  */

/*  */
  .main-content {
    /* background-color: pink; */
    grid-column: 4 / -1;
    margin-top: 15px;
  }

  .main-content-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
  }

  .main-content-detail{

    box-sizing: border-box;
    border: 1px solid #E8E8E8;
border-radius: 10px;
  }

  .content-banner{
    width: 100%;
  }

  .content-banner img{
    width: 100%;
  }


.content-detail{
  margin: 15px;
  margin-top: 30px;
}

.content-link{}
.content-link a{
  text-decoration: none;

  font-style: normal;
font-weight: 500;
font-size: 16px;
color: #161616;

border: 1px solid #161616;
border-radius: 5px;

/* width: 100px;
height: 32px; */
padding: 10px;
}

.content-title{
  font-style: normal;
font-weight: 600;
font-size: 18px;

color: #161616;
margin-top: 25px;
}

.content-info{
  margin-top: 20px;
}




.main-content-butten{
    text-align: center;
}

.main-btn{}









  
 
  
 
  


/*  */
/*  */
  
  .footer-item{
    
    background: #161616;
    color: #ffff;
    text-align: center;
  }

  .footer-title{}
  .footer-title h1{
    font-style: normal;
font-weight: 600;
font-size: 40px;
color: #ffff;
padding: 25px;
  }
  .footer-lists{
    padding-top: 45px;
  }

  .footer-info{}

  .footer-info-list{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-link{
    color: #ffff;
  }
  .footer-link a{
    text-decoration: none;
    color: #ffff;
    padding: 20px;
  }

  .footer-social-media{
    margin: 30px;
    padding: 30px;
  }
  .footer-social-media a{
    padding: 20px;
    color: #ffff;
  }


  .footer-item hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 90%;
    
  }
  .horizontal-line{
    text-align: -webkit-center;
  text-align: -moz-center;
  }








  /*  */
  /*  */

  @media only screen and (max-width: 900px) {
    .main-wrapper {
      /* grid-template-rows: auto ; */
    }
    .sidebar {
      grid-column: 1 / -1;
    }
    .main-content {
      grid-column: 1 / -1;
    }
  }