/* commane degine */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.main-all-item {
  max-width: 90%;
  max-height: fit-content;
  margin: 0 auto;
}

/*  */
/*  */
.main-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}
/* header section */

.header {
  background: #161616;
  border-radius: 30px;

  grid-column: 1 / -1;
}

.header-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  /* display: flex;
  align-items: center; */
}
.header-item-detail {
  padding: 40px;
}

.item-size {
  width: 100%;
}

.header-title {
  font-style: normal;
  font-weight: 700;
  /* font-size: 6vw; */
  font-size: 40px;
  color: #ffff;
}

.header-item-description {
  font-style: normal;
  font-weight: 400;
  /* font-size:1.3vw; */
  font-size: 16px;
  color: #ffff;
  padding-top: 13px;
  padding-bottom: 40px;
}

.header-item-link {
  background: #dd0000;
  border-radius: 5px;

  font-family: "HelveticaNeue";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #ffff;
  text-decoration: none;

  margin: 10px;
  padding: 15px;
}

/* hovar */
.header-item-link {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.header-item-link:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  opacity: 1;
}

.right-angle {
  padding-left: 10px;
}

.header-item-img {
  height: auto;
}

.header-image {
  /* padding: 84px;
  margin-bottom: -93px; */
  object-fit: fill;
}

.header-item-img img {
  height: fit-content;
  width: fit-content;
  padding-left: 70px;
}

/*  */

/* side bar section  */
.sidebar {
  grid-column: 1 / 4;
  margin-top: 15px;
  position: relative;
}
.sidebar-items {
  background: #161616;
  border-radius: 10px;
  width: auto;
  height: auto;
  text-align: center;
  /* position: fixed; */
}
.pages-list {
  padding: 10px;
  padding-top: 10px;
}

.sidebar-link {
  width: 190px;
  height: 64px;
  padding: 20px;
  margin: 25px;

  background: #ffffff;
  border-radius: 10px;
}
.sidebar-bts {
  text-decoration: none;
  color: #161616;
}
.sidebar-bts {
}
.sidebar-bts:hover {
}

/*  */

/*  */

/* main content section */
.main-content {
  grid-column: 5 / -1;
  margin-top: 15px;
}

.main-content-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.main-content-detail {
  box-sizing: border-box;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
}

.content-banner {
  width: 100%;
}

.content-banner img {
  width: 100%;
}

.content-detail {
  margin: 15px;
  margin-top: 30px;
}

.content-link {
}
.content-link a {
  text-decoration: none;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #161616;

  border: 1px solid #161616;
  border-radius: 5px;

  /* width: 100px;
height: 32px; */
  padding: 10px;
}

.content-title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;

  color: #161616;
  margin-top: 25px;
}

.content-info {
  margin-top: 20px;
}
.content-info span {
  padding-left: 15px;
}

.info-message {
  padding-left: 50px;
}

.main-content-butten {
  text-align: center;
}

.main-btn {
  background: #dd0000;
  border-radius: 5px;
  padding: 10px 25px;
  margin: 25px;
  color: #ffffff;
  border: 1px solid red;
}

.main-btn {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.main-btn:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(88, 56, 56, 0.5),
    0 0 20px rgba(32, 24, 24, 0.2);
  outline-color: rgba(48, 29, 29, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #20566d;
  opacity: 1;
}

#main-button {
  visibility: hidden;
}

/*  */
/*  */

/* footer section */

.footer-item {
  background: #161616;
  color: #ffff;
  text-align: center;
}

.footer-title {
}
.footer-title h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  color: #ffff;
  padding: 25px;
}
.footer-lists {
  padding-top: 45px;
}

.footer-info {
}

.footer-info-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-link {
  color: #ffff;
}
.footer-link a {
  text-decoration: none;
  color: #ffff;
  padding: 15px;
}

.footer-social-media {
  margin: 30px;
  padding: 30px;
}
.footer-social-media a {
  padding: 20px;
  color: #ffff;
}

.footer-item hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 90%;
}
.horizontal-line {
  text-align: -webkit-center;
  text-align: -moz-center;
}

/*  */
/*  */

@media screen and (max-width: 576px) {
  .main-wrapper {
    justify-items: center;
    align-items: center;
  }
  /* header section */
  .header-item {
    /* background-color: #a77e7e; */
    /* height: 100vh;
    width: 100%;
    grid-template-columns: auto; */
  }
  .header-item-detail {
    grid-column: 1/-1;
    text-align: center;
    width: 100%;
    /* padding: 15px;
    margin: 10px; */
  }
  .header-image img {
    padding-left: 80px;
    padding-right: 50px;
  }
  /* side bar section  */

  .sidebar {
    grid-column: 1 / -1;
  }
  /* main content section */

  .main-content {
    grid-column: 1 / -1;
  }
  .main-content-items {
    grid-template-columns: repeat(1, 1fr);
  }

  #main-button {
    visibility: hidden;
  }

  /*  */
  /* footer section */
  .footer-info-list {
    flex-direction: column;
    gap: 20px;
  }
}

/*  */
/*  */

@media screen and (min-width: 577px) and (max-width: 900px) {
  .main-wrapper {
  }
  /* header section */

  .header-item {
  }
  .header-item-link {
    margin: 0px;
    padding: 11px;
  }

  /*  */

  .header-item-img img {
    padding-left: 50px;
    padding-right: 50px;
  }
  .header-image img {
    padding-left: 0;
  }

  /* side bar section  */

  .sidebar {
    grid-column: 1 / -1;

    padding-left: 20px;
    padding-right: 20px;
  }

  .sidebar-all {
  }
  .sidebar-items {
    height: auto;
    width: inherit;
  }
  .sidebar-link {
    width: 120px;
    height: 40px;
    font-size: 12px;
    padding: 12px;
  }
  .sidebar-link a {
  }

  .upcoming-match-link {
    font-size: 11px;
  }

  .pages-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    padding: 0;
    padding-top: 0;
  }
  /*  */
  /* main content section */

  .main-content-items {
    grid-template-columns: repeat(2, 1fr);
  }
  .main-content {
    grid-column: 1 / -1;
  }
  #main-button {
    visibility: visible;
  }

  /*  */
  /*  */
  /* footer section */
  .footer-link a {
    font-size: 12px;
  }
}

/*  
*/
/*  */
/*  */
/* upcoming match page  */
.comeing-matchs {
  padding-top: 40px;
}

.coming-match {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.comeing-matchs-title {
  text-align: center;
}

.comeing-matchs-info {
  text-align: center;
}
.upcoming-bg {
  background: #dd0000;
}
.upcoming-text {
  color: #ffff;
}

.blog-bg {
  background: #dd0000;
}
.blog-text {
  color: #ffff;
}
.all-group-bg {
  background: #dd0000;
}
.all-group-text {
  color: #ffff;
}

/*  */
/*  */
/* all group style */
.group-all-teams {
}

.group-all-team-detel {
  text-align: center;
}
.group-title {
}
.team-name {
}
.group-team {
  display: flex;
  align-items: center;
  gap: 15px;

  padding-top: 10px;
  margin-top: 5px;
}
.group-team span {
}
.group-team img {
}

.team-number {
  padding-left: 20px;
}
.country-name {
}

/* some degin add */
.header-title {
  background-image: url(giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
}
/* animation add  */

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.header-item-description {
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear 6s infinite;
  -webkit-animation: textclip 5s linear 6s infinite;
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
}

.footer-title h1 {
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear 6s infinite;
  -webkit-animation: textclip 5s linear 6s infinite;
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
}
